.van-cell{
    background-color: #11181E;
    color: #878A8E;
	&>.van-field__label{
		color: #565B5F;
	}
	.van-field__value{
		padding: 15rpx;
		background-color: #242A33;
		border-radius: 10rpx;
	}
	.van-field__control{
		color: #6C7076;
	}
}
.van-skeleton__row, .van-skeleton__title{
	background-color: #8885;
}