.van-cell{
    background-color: #11181E;
    color: #878A8E;
	&>.van-field__label{
		color: #565B5F;
	}
	.van-field__value{
	}
	.van-field__control{
		color: #6C7076;
	}
}
.van-skeleton__row, .van-skeleton__title{
	background-color: #8885;
}
*::-webkit-scrollbar{
    width: 2rpx;
}
.van-cell{
	background-color: #11181E!important;
	color: #878A8E;
	border: none!important;
}
.van-cell__title .van-field__label {
    color: rgba(80, 80, 80, 1);
    font-weight: bold;
    margin-bottom: 10rpx;
		max-width: 6.2rem!important;
		margin-right: 0px!important;
}