/**
 * 這裏是uni-app内置的常用樣式變量
 *
 * uni-app 官方擴展插件及插件市場（https://ext.dcloud.net.cn）上很多三方插件均使用了這些樣式變量
 * 如果你是插件開發者，建議你使用scss預處理，并在插件代碼中直接使用這些變量（無需 import 這個文件），方便用戶通過搭積木的方式開發整體風格一緻的App
 *
 */

/**
 * 如果你是App開發者（插件使用者），你可以通過修改這些變量來定制自己的插件主題，實現自定義主題功能
 *
 * 如果你的項目同樣使用了scss預處理，你也可以直接在你的 scss 代碼中使用如下變量，同時無需 import 這個文件
 */

/* 顔色變量 */

/* 行爲相關顔色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本顔色 */
$uni-text-color:#333;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-grey:#999;//輔助灰色，如加載更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景顔色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//點擊狀态顔色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩顔色

/* 邊框顔色 */
$uni-border-color:#c8c7cc;

/* 尺寸變量 */

/* 文字尺寸 */
$uni-font-size-sm:24rpx;
$uni-font-size-base:28rpx;
$uni-font-size-lg:32rpx;

/* 圖片尺寸 */
$uni-img-size-sm:40rpx;
$uni-img-size-base:52rpx;
$uni-img-size-lg:80rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

/* 水平間距 */
$uni-spacing-row-sm: 10px;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

/* 垂直間距 */
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 組件禁用态的透明度

/* 文章場景相關 */
$uni-color-title: #2C405A; // 文章标題顔色
$uni-font-size-title:40rpx;
$uni-color-subtitle: #555555; // 二級标題顔色
$uni-font-size-subtitle:36rpx;
$uni-color-paragraph: #3F536E; // 文章段落顔色
$uni-font-size-paragraph:30rpx;